<div class="image">
<h1>About</h1>

<p>This app allows you to  track  cardio workouts you would like to complete and once you do you can check them as completed. You will see a list of workouts that have been incomplete or completed if you would like to see those as well. You can search by the workout id in the navbar if you know the workouts id. This app allows you to  track  cardio workouts you would like to complete and once you do you can check them as completed. You will see a list of workouts that have been incomplete or completed if you would like to see those as well. You can search by the workout id in the navbar if you know the workouts id. </p>
</div>
