<div class="image">
<h1>About</h1>

<p>This app allows you to  track  cardio workouts you would like to complete and once you do you can check them as completed. You will see a list of workouts that have been incomplete or completed if you would like to see those as well. You can search by the workout id in the navbar if you know the workouts id. Once you are looking at the workouts you can add a workout by clicking on the  button, click on a previous workout title and view its details, and once you are looking at the details you can click a button to edit the details of a selected workout.  </p>
</div>
